: root {
 font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 font-size: 1.4em;
 line-height: 1.3;
}

h1 {
  font-family: 'Great Vibes', "Times New Roman",serif;
  font-size: 3.0em;
  color: #332419;
  text-shadow: 3px 3px 2px #B8BBB4;
  line-height: 1.3;
  text-align: center;

}

.pics{
  max-width: 100%;
}

@media only screen and
(min-width: 600px) {

  .chapters {
    max-width:75vw;
    margin: 0;
    position: absolute;
    margin-left: 25%;
    background-color: #BEC0BB;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pics{
    max-width:75%;
    float: left;

  }
}

@media only screen And
(min-width: 900px) {

  .chapters{
    max-width: 50vw;

  }

  .pics{
    max-width:73%;
    float: left;
    padding: 5px;

  }
}

.homepage{
  height: 75vh;
  background-image: url("bookunsplash2.jpg");
  background-repeat: no-repeat;
  background-size: 62.5em 41.688em;
  background-attachment: fixed;
  background-position: center;
  border-radius: 2px;


}

#booktitle {
  font-size: 8.0em;
  color: #B8BBB4;
  text-shadow: 3px 3px 5px #482A21;
  padding-top: 50px;
  padding-left: 200px;
  text-align: center;
  width: 82vw;
  margin:0px;
}

#subtitle {
 font-family: 'Amatic SC', "Times New Roman", serif;
 font-size: 4.0em;
 color: #B8BBB4;
 text-shadow: 3px 3px 2px #332419;
 padding-left: 175px;
 text-align: center;
 width: 82vw;
 margin:0px;

}

body{
  background-color: #A09A8B;

}

ul {
    list-style: none;
}

.navi {
  width: 100%;
  padding: 1em;

}

html * {

    box-sizing: border-box;
}

.navi ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2px;
    flex-wrap: wrap;
    background-color: #482A21;
     border-radius: 2px;
      box-shadow: 11px 11px 7px 1px rgba(117,106,90,0.95);
      font-size: 1.7em;
      font-family: 'Amatic SC', "Times New Roman", serif;
}

body {
    margin: 0;
  }

a:link{
  color:#BEC0BB;
  text-decoration: none;

}

a:visited{
  color:#BEC0BB;
  text-decoration: none;
}

a:hover {
  color: #A09A8B;
  text-decoration: line-through;

}

a:active {
  text-decoration: none;
}



    @media only screen and (max-device-width: 480px) {
            div#wrapper {
                width: 100%;
            }

            #header {
                background-image: url("bookunsplash2.jpg");
                position: relative;
            }



            .homepage {
                float: left;
                width: 100%;
            }

            .navi {
                float:center;
                width: 100%;
            }

          #booktitle {
            font-size: 5.0em;
            padding-left: 20px;
          }

          #subtitle {
            font-size: 2.5em;
            padding-left: 40px;

          }

          .navi ul {
              display:flex;
            text-align: center;
            font-size:1.9em;
            justify-content: space-between;
            }

            .pics{
              max-width:95%;
              float: center;

              }
          .chapters{
            font-size: 1.4em;
            background-color: #BEC0BB;
            padding: 5px;
          }

            }



            ::-webkit-scrollbar {
              width: 10px;
            }


            ::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px #482A21;
              border-radius: 10px;
            }


            ::-webkit-scrollbar-thumb {
              background: #BEC0BB;
              border-radius: 10px;
            }


            ::-webkit-scrollbar-thumb:hover {
              background: #20130D;
            }

            ::selection {
              background: #482A21;
              color: #BEC0BB;
}
