: root {
 font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 font-size: 1.4em;
 line-height: 1.3;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.0em;
  line-height: 1.3;
  text-align: center;

}

@media only screen and
(min-width: 600px) {

  .chapters {
    max-width:75vw;

  }
}

@media only screen And
(min-width: 900px) {

  .chapters{
    max-width: 50vw;
    
  }
}
